opencv-python==4.4.0.40
numpy==1.17.4
opencv-contrib-python
imutils
pyserial
matplotlib
scipy
scikit-image
Pillow
PyOpenGL-3.1.5-cp38-cp38-win_amd64.whl
PyOpenGL_accelerate-3.1.5-cp38-cp38-win_amd64.whl
pybluez